.card_text p strong{
    font-weight: 700;
}
.card_text ul{
    margin-left: 20px;
}
.card_text ul li::before {
    content: "\2022";
    color: #FE3F60;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;

}