@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    position: relative;
}
.title::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 54px;
    width: 134px;
    height: 20px;
    z-index: -1;
    background-color: #1ADDC2;
}
.aboutTitle{
    position: relative;
}
.aboutTitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 210px;
    height: 20px;
    z-index: -1;
    background-color: #1ADDC2;
}
@media (min-width: 640px) {
    .title::before{
        right: 38px;
    }
    .aboutTitle::before {
        right: 190px;
    }
}
@media (min-width: 1024px){
    .title::before{
        right: 156px;
    }
    .aboutTitle::before {
        right: 132px;
    }
}
@media (min-width: 1280px){
    .aboutTitle::before {
        right: 286px;
    }
}
@media (min-width: 1536px){
    .aboutTitle::before {
            right: 430px;
        }
}